/* Global styles */

/* Vue Trasnsition Component */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.story-avatar {
  position: relative;
  border-radius: 50%;
  padding: 2.0px;
  background-image: linear-gradient(to right top,#ffc600 20%,#ff0040,#e600cc 80%);
}